:root {
    --primary-color: #000; /* Sort */
    --secondary-color: #222; /* Mørkere grå */
    --hover-color: #444; /* Lysere grå */
    --background-color: #000; /* Sort baggrund */
    --text-color: #fff; /* Hvid tekst */
    --font-family: Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color); /* Hvid tekst */
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: var(--hover-color);
}

main {
    padding: 2rem;
}

article {
    background-color: var(--primary-color); /* Sort baggrund for artikler */
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Lysere skygge */
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    main {
        padding: 1rem;
    }
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container > main {
    flex: 1;
}

/* Links */
a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--hover-color);
}

/* Tablets (iPads) */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
    }

    header nav ul li {
        margin-bottom: 10px;
    }
}

/* Smartphones (iPhones) */
@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-bottom: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }
}
